<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>{{ ablum.ablum_des }}</title>
</head>
<body>
    <h3>{{ ablum.ablum_des }}</h3>
    {% if pic_list %}
    <ul>
        {% for pic in pic_list %}
        <li>
        <img src="http://www.beautylegmm.com{{ pic.pic_url }}"/>
        </li>
        {% endfor %}
    </ul>
{% endif %}


<div class="pagination">
    {% if pic_list.has_previous %}
    <!-- 如果还有上一页 -->
    <a href="?page={{ pic_list.previous_page_number }}">上一页</a>
    {% endif %}
    <span class="current">
        <!--当前页 -->
        第{{ pic_list.number }}页
    </span>
    {% if pic_list.has_next %}
    <!-- 还有下一页 -->
    <a href="?page={{ pic_list.next_page_number }}">下一页</a>
    {% endif %}
</div>
</body>
</html>