<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BL Ablum</title>
</head>
<body>
    <h3> BL Ablum</h3>
    <div>
    {% if ablum_list  %}
        <ul>
            {% for ablum in ablum_list %}
                <li><a href="{{ ablum.id }}">{{ ablum.ablum_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

<div class="pagination">
    {% if ablum_list.has_previous %}
    <!-- 如果还有上一页 -->
    <a href="?page={{ ablum_list.previous_page_number }}">上一页</a>
    {% endif %}
    <span class="current">
        <!--当前页 -->
        第{{ ablum_list.number }}页
    </span>
    {% if ablum_list.has_next %}
    <!-- 还有下一页 -->
    <a href="?page={{ ablum_list.next_page_number }}">下一页</a>
    {% endif %}
</div>
</body>
</html>